/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3 {
  color: #333;
  text-align: center; /* Zentrieren der Überschriften */
}

button {
  padding: 10px 20px;
  margin: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button:hover {
  background-color: #45a049;
}

input[type="text"] {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="text"]:focus {
  outline: none;
  border-color: #4CAF50;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin: 5px;
  background-color: #f9f9f9;
}

.flex-container {
  display: flex;
  justify-content: center; /* Zentrieren des Inhalts */
  margin-bottom: 20px; /* Abstand nach unten hinzufügen */
}

.flex-item {
  flex: 1;
  margin-right: 10px;
  text-align: center; /* Text zentrieren */
}

/* Zusätzliche Klassen zum Zentrieren des Spielers und Tisches */
.player-hand {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: yellow;
  padding: 20px;
  border-radius: 8px;
}

.table {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: orange;
  padding: 20px;
  border-radius: 8px;
}

.attacker {
  color: #f44336;
}

.defender {
  color: #45a049;
}


.header {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  text-align: center; 
}

.header > div {
  flex: 1; 
  padding: 0 10px; 
}

.trumpCard {
  text-align: center;
  font-size: 2em;
}

.playerAndDeck {
  text-align: center;
  font-size: 2em;
  padding-bottom: 2vh;
}

.durakHeader {
  font-size: 3em;
}

.startPage {
  display: flex;
  justify-content: center;
}

.startPageButtons {
  display: flex;
  justify-content: center;
}